.find-tiger {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.find-tiger>* {
    margin: 10px;
}

.tiger-container {
    width: 400px;
    margin: 0 auto;
}