.zoo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.zoo>* {
  margin: 10px;
}

.tiger-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px 20px;
}